<div style="text-align: center">
    <span>
        <h2><i class="fa fa-calculator"></i> Custom Stats</h2>
        <dl style="font-size: large; padding: 30px 40px 10px 30px">
            <dt class="totalStyle">Total Medals: <b>{{numMedals}}</b></dt>
            <dt class="totalStyle">Total Gold: <b>{{numGold}}</b></dt>
            <dt class="totalStyle">Total Silver: <b>{{numSilver}}</b></dt>
            <dt class="totalStyle">Total Bronze: <b>{{numBronze}}</b></dt>
        </dl>
    </span>
</div>