<!--The content below is only a placeholder and can be replaced.-->
<div class='center'>
  <h1>
    Welcome to {{ title }}!
  </h1>

</div>
<ag-grid-angular style="width: auto; height:500px; box-sizing: border-box;" class="ag-theme-balham" [rowData]="rowData"
  [columnDefs]="columnDefs" [sideBar]="true" (gridReady)="onGridReady($event)" [suppressRowClickSelection]="true"
  [defaultColDef]="defaultColDef" [rowSelection]="rowSelection" [frameworkComponents]="frameworkComponents"
  [gridOptions]="gridOptions">
</ag-grid-angular>

<!-- <ag-grid-angular class="ag-theme-material" [gridOptions]="gridOptions"
  style="width: auto; height:500px; box-sizing: border-box;" [rowData]="rowData" [columnDefs]="columnDefs"
  [sideBar]="true">
</ag-grid-angular> -->